@import "tailwindcss";
@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-blog h1{
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  
}


.custom-blog p{
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.2, 0, 1, 1);
  }
  50% {
    transform: translateY(-60px); /* adjust this height */
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}

.animate-custom-bounce {
  animation: custom-bounce 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

body {
  overflow-x: hidden;
}
